￼<% content_for :title do %>About<% end %>
<h3>About Aniruddha Barapatre</h3>
<p>He was born in Nagpur, India. He left India for England, excelled at the University of Houston, and served in the Royal Loamshire Regiment. While in service, he invented the kanuten valve used in the processing of unobtainium for industrial use. With a partner, Granda Fairbook, he founded Acme Manufacturing, later acquired by the Advent Corporation, to develop his discovery for use in the Turboencabulator. Mr. Barapatre is now retired and lives in Middlehampton with a favorite cat, where he raises Griadium frieda and collects metasyntactic variables.</p>
<p>His favorite poem is:</p>
<p>Tiger by William Blake.</p>